
<div class="container full-width--true image-slider-content">
  <div id='collection-bar'>        
      {{ images[1] | prepend: '<img' }}
      <div id='slider'>
        <div class="image-content">
          {{ images[2] | prepend: '<img' }}
        </div>
        <div id="slider-button">
        </div>
      </div>
    </div>
</div>