{% case icon %}
  {% when 'user' %}
    <svg width="24px" height="30px" viewBox="0 0 25 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: sketchtool 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
      <title>Account</title>
      <desc>Created with sketchtool.</desc>
      <defs></defs>
      <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="icons" transform="translate(-1022.000000, -34.000000)" stroke="#000000" stroke-width="2">
              <g id="user_ico" transform="translate(1024.000000, 35.000000)">
                  <g id="Group-3">
                      <path d="M15.1477294,16 C18.51471,16 19.5310462,16.9533939 20.1967378,18.8601818 C21.1952753,21.7203636 21.1952753,26.4302764 21.301198,27.5852638 C20.7353601,27.5852638 15.3016274,27.5852638 5,27.5852638" id="Path-3"></path>
                      <path d="M16.301198,27.5852638 C5.99957055,27.5852638 0.565837892,27.5852638 1.8189894e-12,27.5852638 C0.105922695,26.4302764 0.105922695,21.7203636 1.10446015,18.8601818 C1.77015179,16.9533939 3.45315459,16 6.15346856,16" id="Path-3"></path>
                      <ellipse id="Oval-2" cx="10.5" cy="9" rx="7.5" ry="9"></ellipse>
                  </g>
              </g>
          </g>
      </g>
    </svg>
  {% when 'cart' %}
    <svg width="24px" height="30px" viewBox="0 0 24 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: sketchtool 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
      <title>Cart</title>
      <desc>Created with sketchtool.</desc>
      <defs></defs>
      <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="icons" transform="translate(-103.000000, -34.000000)" stroke="#000000" stroke-width="2">
              <g id="cart_ico" transform="translate(103.000000, 35.000000)">
                  <g id="Group" transform="translate(8.000000, 0.000000)">
                      <path d="M0.0123940532,5.625 L0.0123940532,19.7586634 C-0.145348442,23.2528878 1.20263288,25 4.05633803,25 C6.91004317,25 8.21500382,23.2528878 7.97121996,19.7586634 L7.97121996,14.7036743 L4.7876896,18.8487619" id="Path-2"></path>
                      <path d="M0.0123940532,3.26676659 L0.0123940532,6.94449733 C-0.145348442,10.4387218 1.20263288,12.185834 4.05633803,12.185834 C6.91004317,12.185834 8.21500382,10.4387218 7.97121996,6.94449733 L7.97121996,0" id="Path-2" transform="translate(4.000000, 6.092917) rotate(-180.000000) translate(-4.000000, -6.092917) "></path>
                  </g>
                  <rect id="Rectangle" x="1" y="9" width="22" height="19"></rect>
              </g>
          </g>
      </g>
    </svg>
  {% when 'arrow-down' %}
    <svg width="27px" height="14px" viewBox="0 0 27 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: sketchtool 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
      <desc>Created with sketchtool.</desc>
      <defs></defs>
      <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="icons" transform="translate(-955.000000, -42.000000)" stroke="#ffffff" stroke-width="2">
              <polyline id="down_ico" transform="translate(968.500000, 49.000000) rotate(-270.000000) translate(-968.500000, -49.000000) " points="963 37 974 49.2881098 963 61"></polyline>
          </g>
      </g>
    </svg>
{% endcase %}