          <div id="stamped-reviews-widget" class="mobile-hidden" data-widget-type="carousel" data-fill-empty="true" data-random="false" data-per-slide="1" data-title="" data-auto-play="true" data-auto-play-speed="15000" data-min-rating="5" data-product-ids="{{product.id}}"></div>
