<div>
  <div class="ssw-html-widget ssw-instagram-widget" data-widget="1" data-page-count="5" data-gallery_id="1" data-module="service"  data-name="instagramPhotos">
    <div class="ssw-page-loading"><span class="ssw-spin ssw-loader"></span></div>
   </div>
</div>

{% schema %}
{
  "name": "Instagram",
  "class": "instagram-section",
  "settings": [
      
  ],
  "presets": [
    {
      "category": "Social",
      "name":"Instagram"
    }
  ]
}
{% endschema %}