{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}
<a name="pagecontent" id="pagecontent"></a>
{% section 'collection-none-template' %}
{% section 'recently-viewed' %}
{% section 'featured-products-gallery' %}
{% section 'collection-none-image-text' %}
{% section 'collection-list' %}

{% section 'image-reviews' %} 